.content {
	background-color: rgb(196, 228, 245);
	padding: 1rem;
	width: 60rem;
	max-width: 95%;
    margin: 0rem auto;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
