.content {
	background-color: #7fA7B8;
	padding: 1rem;
	width: 60rem;
	max-width: 95%;
    margin: 0rem auto;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
