.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    background: #282c34;
    min-height: 15vh;
  
  }
  .Header h1{
   font-size:1.2rem;

  }