.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #33546D;
    min-height: 15vh;
  
  }
  .Header h1{
   font-size:1.3rem;

  }